{% extends "hydrocompute/base.html" %}
{% load tethys_gizmos static %}

{% block global_scripts %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/hydrolang@1.1.7/hydrolang.js"></script>
  <script type="module" src="{% static 'hydrocompute/HydroCompute/src/hydrocompute.js' %}" onload="loadCompute()">
  </script>
{% endblock %}

{% block scripts %}
  <script>
    function loadCompute() {
      window.compute = new hydroCompute()
    }
  </script>
  {{ block.super }}
{% endblock %}

{% block app_content %}
  <div id="map"></div>
  <div id="overlay">
      <div id="content">
          <div id="retrieved-data"></div>
          <div id="result-graph"></div>
          <div id="stats-table"></div>
          <button id="download-raw-btn" class="btn btn-primary mt-2">Download Data</button>
          <button id="download-simulationRes-btn" class="btn btn-success mt-2">Download Simulation Results</button>
      </div>
  </div>
{% endblock %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Attribution">
    <a data-bs-toggle="modal" data-bs-target="#attribution-modal"><i class="bi bi-info-circle"></i></a>
  </div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="attribution-modal" tabindex="-1" role="dialog" aria-labelledby="attribution-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="attribution-modal-label">About</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>This application demonstrates two projects developed by the <a target="_blank" href="https://hydroinformatics.uiowa.edu/">University of Iowa Hydroinformatics Lab (UIHI Lab)</a>: HydroLang and HydroCompute.</p>
          <ul>
            <li><a target="_blank" href="https://github.com/uihilab/HydroLang">HydroLang</a> is an open-source web framework for hydrology and water resources research. It provides JavaScript functions for retrieving and manipulating hydrologic data, performing statistical operations, generating graphical data representaitons, and mapping geospatial data.</li>
            <li><a target="_blank" href="https://github.com/uihilab/HydroCompute">HydroCompute</a> is an open-source a computational library for hydrology and environmental sciences that runs natively in the web browser. It leverages state of the art computation standards to allow web applications to access the computation capabilities of the devices they are running on. This includes multithreading with web workers, GPU processing, and running executables built in web assembly (WASM).</li>
          </ul>
          <p>This application is the solution of <a target="_blank" href="https://hydroinformatics.uiowa.edu/tutorials/hydrocompute/docs/tutorial/case-studies/case-study-3/">HydroCompute Case Study 3: Dashboard for Station Statistical Analysis tutorial</a> developed by University of Iowa Hydroinformatics Lab for the 2023 CIROH Developer Conference.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
